<h3>Featured product</h3>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="/assets/img/1.jpg" alt="" height="300px" width="300px">
        </div>
        <div class="col-md-8">
            <p><b>List Price:</b> $699.00</p>
            <p><b>Discount:</b> 30%</p>
            <p><b>Your Price:</b> $489.30(you-save $209.70)</p>
            <p><b>Quantily:</b>
                <input type="number" class="mr-3"><button>Add to cart</button>
            </p>
            <br>
            <h3>Description</h3>
            <p>Thank you for our class’ photo you sent me afew days ago. I was so glad to write for you and tell you
                about my feeling after I receive it. anythings around me seem to disappear and I can fly with many </p>
            <p>New features</p>
            <ul style="list-style-type:disc;">
                <li>Thicker bridgeblock</li>
                <li>3-ply parchmant pick guard</li>
                <li>Tinted neck</li>
            </ul>
        </div>
    </div>
</div>
