<span><b>You Order</b></span>
<p>Prder Number: 2</p>
<p>Order Date: Oct 9,2010</p>
<span><b>Shipping</b></span>
<p>Ship Date: Not shipped yet</p>
<p>1234 Arry Piace Road</p>
<p>Somewhere, CA 93666</p>
<p>7789938464</p>
<span><b>Blllin</b></span>
<p>Card Number: ...4444</p>
<p>12334 hsm yhr</p>
<span><b>Order Items</b></span>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">List price</th>
            <th scope="col">Savings</th>
            <th scope="col">Your Cost</th>
            <th scope="col">Quantily</th>
            <th scope="col">line Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Fender Stratocaster</td>
            <td>$699.00</td>
            <td>$209.70</td>
            <td>$489.30</td>
            <td>1</td>
            <td>$489.30</td>
        </tr>
        <tr>
            <td>Washburn D10S</td>
            <td>$289.00</td>
            <td>$0.00</td>
            <td>$299.00</td>
            <td>1</td>
            <td>$289.00</td>
        </tr>
    </tbody>
</table>