<p>We have a great selection musical instrument includings guitar, basses, and drums. And we're constantly
    adding more to give you the best selection possible!</p>
<h3>Featured product</h3>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="/assets/img/guitar.jpg" alt="" height="200px" width="100px">
                </div>
                <div class="col-md-10">
                    <p><a href="#" [routerLink]="['/master']">Fender Stratocaster</a></p>
                    <p><b>You pries:</b> $489.30</p>
                    <p>Let’s come back to my live concert. It is so cool and until now I can’t forget my feeling about
                        it. Do
                        you often to go live concerts? What kind of music do you like listening to? Who is your
                        favourite
                        singer?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="kkkk" style="padding-top: 20px;"></div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <img src="/assets/img/1.jpg" alt="" height="200px" width="200px">
                </div>
                <div class="col-md-9">
                    <p><a href="#" [routerLink]="['/product']">Fender Stratocaster</a></p>
                    <p><b>You pries:</b> $489.30</p>
                    <p>Let’s come back to my live concert. It is so cool and until now I can’t forget my feeling about
                        it. Do
                        you often to go live concerts? What kind of music do you like listening to? Who is your
                        favourite
                        singer?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="kkkk" style="padding-top: 20px;"></div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="/assets/img/2.jpg" alt="" height="200px" width="280px">
                </div>
                <div class="col-md-8">
                    <p><a href="#">Fender Stratocaster</a></p>
                    <p><b>You pries:</b> $489.30</p>
                    <p>Let’s come back to my live concert. It is so cool and until now I can’t forget my feeling about
                        it. Do
                        you often to go live concerts? What kind of music do you like listening to? Who is your
                        favourite
                        singer?</p>
                </div>
            </div>
        </div>
    </div>

</div>